.esp-container {
    width: 100%;
    height: 20vh;
    transform: translate(5%, 50%);
    -webkit-transform: translate(5%, 50%);
    -moz-transform: translate(5%, 50%);
    -ms-transform: translate(5%, 50%);
    -o-transform: translate(5%, 50%);
}

.esp-text-div {
    width: 100%;
    margin-bottom: 20px;
}

.esp-container .esp-text-div .esp-text-span {
    margin: auto;
    display: table;
    color: white;
    font-size: 30px;
}

.esp-columns,
.esp-times {
    height: 50px;
    width: 100%;
}

.esp-columns:after,
.esp-times:after {
    content: "";
    display: table;
}

.column {
    float: left;
    width: 1.85%;
    height: 75%;
    background-color: #ff4500;
    border: 1px solid silver;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.time {
    float: left;
    width: 4.2%;
    height: 25%;
    color: white;
}

.time-s {
    float: left;
    width: 1.85%;
    height: 100%;
}

.col0000 {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.col2330 {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.gray {
    background-color: gray;
}

.shedding {
    background-color: #FFAA33;
}

.upcoming {
    background-color: orangered;
}

.current {
    background-color: white;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}
